<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../scripts/tailConfig.js"></script>
    <script src="../scripts/hourly.js"></script>
    <link rel="stylesheet" href="../styles/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <title>Weather App</title>
</head>

<body>
    <!--Background Image-->
    <div class="absolute inset-0">
        <img src="../images/rosebg.jpg" alt="Rose Background" class="w-full object-cover h-screen">
    </div>

    <!--Top Bar-->
    <section class="bg-rose-900 p-1 flex justify-end text-rose-500 pr-5 z-10 relative">
        <button class="mx-5">C&deg;</button>
        <button class="mx-5">F&deg;</button>
    </section>


    <!--HEADER-->
    <section class="bg-rose-950 p-16 relative flex flex-wrap">
        <h1 class="text-rose-700 font-bold text-5xl top-2 left-2 absolute">Weather</h1>
        <ul class="list-none text-rose-700 text-3xl absolute bottom-2 left-0 right-0 flex flex-wrap justify-center">
            <li class="mx-10 hover:bg-rose-900 duration-300 hover:text-black p-4 rounded-3xl"><button onclick="window.location.href='./index.html'">RIGHT NOW</button>
            </li>
            <li class="mx-10 text-rose-950  bg-rose-900 duration-300  p-4 rounded-3xl"><button onclick="window.location.href='./hourly.html'">3 HOURS</button></li>
            <li class="mx-10 hover:bg-rose-900 duration-300 hover:text-black p-4 rounded-3xl"><button>36 HOURS</button>
            </li>
            <li class="mx-10 hover:bg-rose-900 duration-300 hover:text-black p-4 rounded-3xl"><button>7 DAYS</button></li>
        </ul>

    </section>


    <!--BODY-->
    <section class="relative flex flex-wrap justify-center text-white">

        <button class=
        "absolute left-5 top-0 bottom-0 text-rose-700 px-4 py-2 rounded-3xl text-5xl focus:outline-none mt-20 bg-rose-950 hover:bg-rose-700 hover:text-rose-950 font-bold
        " id="prevButton">&lt;</button>

      <div class="flex space-x-10 mx-36 text-5xl bg-rose-950 mt-20 text-rose-700 p-10 overflow-auto whitespace-nowrap" id="hourly"></div>

      <button class="absolute right-5 top-0 bottom-0 text-rose-700 px-4 py-2 rounded-3xl text-5xl focus:outline-none mt-20 bg-rose-950 hover:bg-rose-700 hover:text-rose-950 font-bold
      " id="nextButton">&gt;</button>

    </section>
</body>

</html>