<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../scripts/tailConfig.js"></script>
    <script src="../scripts/fivedays.js"></script>
    <link rel="stylesheet" href="../styles/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <title>Weather</title>
</head>

<body>
    <!--Background Image
    <div class="absolute inset-0 bg-repeat">
        <img src="../images/rosebg.jpg" alt="Rose Background" class="object-cover w-full h-screen">
    </div>
-->
    <div class="absolute inset-0 bg-repeat bg-cover h-max" style="background-image: url('../images/rosebg.jpg');">

    

    <!--Top Bar-->
    <section class="relative z-10 flex justify-end p-1 pr-5 bg-rose-900 text-rose-500">
        <button class="mx-5">C&deg;</button>
        <button class="mx-5">F&deg;</button>
    </section>


    <!--HEADER-->
    <section class="relative flex flex-wrap p-16 bg-rose-950">
        <h1 class="absolute text-5xl font-bold text-rose-700 top-2 left-2">Weather</h1>
        <ul class="absolute left-0 right-0 flex flex-wrap justify-center text-3xl list-none text-rose-700 bottom-2">
            <li class="p-4 mx-10 duration-300 hover:bg-rose-900 hover:text-black rounded-3xl"><button onclick="window.location.href='./index.html'">RIGHT NOW</button>
            </li>
            <li class="p-4 mx-10 duration-300 hover:bg-rose-900 hover:text-black rounded-3xl"><button onclick="window.location.href='./3hourly.html'">3 HOURS</button></li>
            <li class="p-4 mx-10 duration-300 hover:bg-rose-900 hover:text-black rounded-3xl"><button>36 HOURS</button>
            </li>
            <li class="p-4 mx-10 duration-300 text-rose-950 bg-rose-900 rounded-3xl"><button>5 DAYS</button></li>
        </ul>

    </section>


    <!--BODY-->
    <section class="relative flex flex-wrap justify-center my-10 text-white space-x-36">


    </section>

</div>
</body>

</html>