<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="./tailwind.config.js"></script>
    <script src="../scripts/script.js"></script>
    <link rel="stylesheet" href="../styles/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <title>Weather</title>
</head>

<body class="bg-rose-900">
    <!--Background Image
    <div class="absolute inset-0 bg-repeat">
        <img src="../images/rosebg.jpg" alt="Rose Background" class="w-full object-cover h-screen">
    </div>
-->
    <div class="relative inset-0 bg-cover h-screen bg-repeat" style="background-image: url('../images/rosebg.jpg');">



        <!--Top Bar-->
        <section class="bg-rose-900 p-1 flex justify-end text-rose-500 pr-5 z-10 relative">
            <button class="mx-5">C&deg;</button>
            <button class="mx-5">F&deg;</button>
        </section>


        <!--HEADER-->
        <section class="bg-rose-950 p-8 md:p-16 relative flex flex-wrap">
            <h1
                class="text-rose-700 font-bold lg:text-3xl md:text-6xl top-2 md:top-4 left-2 md:left-4 absolute sm:text-5xl ">
                Weather</h1>
            <div class="lg:hidden absolute top-2 right-2">
                <button id="menuToggle" class="text-rose-700 focus:outline-none">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 9a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 13a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                            clip-rule="evenodd" />
                    </svg>
                </button>
            </div>

            <!--DROPDOWN MENU
    <ul class="lg:hidden md:hidden flex block">
        <li class="mx-3 md:mx-10 my-2 md:my-0 text-rose-950 bg-rose-900 duration-300 p-2 md:p-4 rounded-3xl">
            <button>RIGHT NOW</button>
        </li>
        <li class="mx-3 md:mx-10 my-2 md:my-0 hover:bg-rose-900 duration-300 hover:text-black p-2 md:p-4 rounded-3xl">
            <button onclick="window.location.href='./3hourly.html'">3 HOURS</button>
        </li>
        <li class="mx-3 md:mx-10 my-2 md:my-0 hover:bg-rose-900 duration-300 hover:text-black p-2 md:p-4 rounded-3xl">
            <button>36 HOURS</button>
        </li>
        <li class="mx-3 md:mx-10 my-2 md:my-0 hover:bg-rose-900 duration-300 hover:text-black p-2 md:p-4 rounded-3xl">
            <button onclick="window.location.href='./fivedays.html'">5 DAYS</button>
        </li>
    </ul>
-->
            <div class="absolute right-0 z-10 mt-2 w-44 origin-top-right rounded-md bg-rose-700 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                <div class="py-1 hidden" role="none" id="dropdown">
                    <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                    <a href="#" class="mx-3 my-2 text-rose-950 block hover:bg-rose-800 p-2 rounded-3xl duration-300" role="menuitem" tabindex="-1"
                        id="menu-item-0">Right Now</a>
                    <a href="#" class="mx-3 my-2 text-rose-950 block hover:bg-rose-800 p-2 rounded-3xl duration-300" role="menuitem" tabindex="-1" id="menu-item-1">3
                        Hours</a>
                    <a href="#" class="mx-3 my-2 text-rose-950 block hover:bg-rose-800 p-2 rounded-3xl duration-300" role="menuitem" tabindex="-1" id="menu-item-2">36
                        Hours</a>
                    <a href="#" class="mx-3 my-2 text-rose-950 block hover:bg-rose-800 p-2 rounded-3xl duration-300" role="menuitem" tabindex="-1" id="menu-item-2">8 Days</a>
                </div>
            </div>


            <ul id="menu"
                class="sm:hidden md:hidden hidden lg:flex list-none text-rose-700 lg:text-3xl md:text-xl absolute bottom-2 md:bottom-2 left-0 right-0 flex-wrap justify-center">
                <li class="mx-3 md:mx-10 my-2 md:my-0 text-rose-950 bg-rose-900 duration-300 p-2 md:p-4 rounded-3xl">
                    <button>RIGHT NOW</button>
                </li>
                <li
                    class="mx-3 md:mx-10 my-2 md:my-0 hover:bg-rose-900 duration-300 hover:text-black p-2 md:p-4 rounded-3xl">
                    <button onclick="window.location.href='./3hourly.html'">3 HOURS</button>
                </li>
                <li
                    class="mx-3 md:mx-10 my-2 md:my-0 hover:bg-rose-900 duration-300 hover:text-black p-2 md:p-4 rounded-3xl">
                    <button>36 HOURS</button>
                </li>
                <li
                    class="mx-3 md:mx-10 my-2 md:my-0 hover:bg-rose-900 duration-300 hover:text-black p-2 md:p-4 rounded-3xl">
                    <button onclick="window.location.href='./fivedays.html'">5 DAYS</button>
                </li>
            </ul>

        </section>

        <!--BODY-->
        <section class="relative flex flex-wrap justify-center space-x-36 text-white my-10">

            <div class="bg-rose-950 px-20 py-20 mt-52 z-10 rounded-3xl relative text-rose-700 text-5xl font-bold flex-shrink"
                id="curDate">

            </div>
            <div class="bg-rose-950 px-20 py-20 mt-52 z-10 rounded-3xl relative text-rose-700 text-5xl font-bold flex-shrink"
                id="homeTemp"></div>

        </section>

    </div>
</body>

</html>