<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../scripts/tailConfig.js"></script>
    <script src="../scripts/script.js"></script>
    <link rel="stylesheet" href="../styles/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <title>Weather</title>
</head>

<body>
    <!--Background Image
    <div class="absolute inset-0 bg-repeat">
        <img src="../images/rosebg.jpg" alt="Rose Background" class="w-full object-cover h-screen">
    </div>
-->
    <div class="absolute inset-0 bg-cover h-max bg-repeat" style="background-image: url('../images/rosebg.jpg');">

    

    <!--Top Bar-->
    <section class="bg-rose-900 p-1 flex justify-end text-rose-500 pr-5 z-10 relative">
        <button class="mx-5">C&deg;</button>
        <button class="mx-5">F&deg;</button>
    </section>


    <!--HEADER-->
    <section class="bg-rose-950 p-16 relative flex flex-wrap">
        <h1 class="text-rose-700 font-bold text-5xl top-2 left-2 absolute">Weather</h1>
        <ul class="list-none text-rose-700 text-3xl absolute bottom-2 left-0 right-0 flex flex-wrap justify-center">
            <li class="mx-10 text-rose-950 bg-rose-900 duration-300 p-4 rounded-3xl"><button>RIGHT NOW</button>
            </li>
            <li class="mx-10 hover:bg-rose-900 duration-300 hover:text-black p-4 rounded-3xl"><button onclick="window.location.href='./3hourly.html'">3 HOURS</button></li>
            <li class="mx-10 hover:bg-rose-900 duration-300 hover:text-black p-4 rounded-3xl"><button>36 HOURS</button>
            </li>
            <li class="mx-10 hover:bg-rose-900 duration-300 hover:text-black p-4 rounded-3xl"><button>7 DAYS</button></li>
        </ul>

    </section>


    <!--BODY-->
    <section class="relative flex flex-wrap justify-center space-x-36 text-white my-10">

        <div class="bg-rose-950 px-20 py-20 mt-52 z-10 rounded-3xl relative text-rose-700 text-5xl font-bold" id="curDate">
            
        </div>
        <div class="bg-rose-950 px-20 py-20 mt-52 z-10 rounded-3xl relative text-rose-700 text-5xl font-bold" id="homeTemp"></div>

    </section>

</div>
</body>

</html>